# Employee Database Analysis

## Import Data from Postgres SQL Database

In [63]:
#Import Modules
from sqlalchemy import create_engine, inspect, MetaData, Table
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
#Import Database Key
from db_keys import db_key

#Import Employee Data Tables from SQL Database
engine = create_engine('postgresql://' + db_key + '@localhost:5432/employee_data_db')
connection = engine.connect()

In [65]:
inspector = inspect(engine)

table_names = inspector.get_table_names()

table_names

['employees', 'salaries', 'titles', 'departments', 'dept_manager', 'dept_emp']

In [73]:
#Create MetaData Instance
metadata = MetaData()

#Import DB Schema To MetaData Instance
metadata.reflect(bind=engine)

metadata.tables

immutabledict({'employees': Table('employees', MetaData(bind=None), Column('emp_no', INTEGER(), table=<employees>, primary_key=True, nullable=False), Column('birth_date', DATE(), table=<employees>), Column('first_name', VARCHAR(length=30), table=<employees>, nullable=False), Column('last_name', VARCHAR(length=30), table=<employees>, nullable=False), Column('gender', VARCHAR(length=1), table=<employees>, nullable=False), Column('hire_date', DATE(), table=<employees>), schema=None), 'salaries': Table('salaries', MetaData(bind=None), Column('emp_no', INTEGER(), ForeignKey('employees.emp_no'), table=<salaries>, nullable=False), Column('salary', INTEGER(), table=<salaries>, nullable=False), Column('from_date', DATE(), table=<salaries>), Column('to_date', DATE(), table=<salaries>), schema=None), 'titles': Table('titles', MetaData(bind=None), Column('emp_no', INTEGER(), ForeignKey('employees.emp_no'), table=<titles>, nullable=False), Column('title', VARCHAR(length=30), table=<titles>, nullable=False), Column('from_date', DATE(), table=<titles>), Column('to_date', DATE(), table=<titles>), schema=None), 'departments': Table('departments', MetaData(bind=None), Column('dept_no', VARCHAR(length=5), table=<departments>, primary_key=True, nullable=False), Column('dept_name', VARCHAR(length=30), table=<departments>, nullable=False), schema=None), 'dept_manager': Table('dept_manager', MetaData(bind=None), Column('dept_no', VARCHAR(length=5), ForeignKey('departments.dept_no'), table=<dept_manager>, nullable=False), Column('emp_no', INTEGER(), ForeignKey('employees.emp_no'), table=<dept_manager>, nullable=False), Column('from_date', DATE(), table=<dept_manager>), Column('to_date', DATE(), table=<dept_manager>), schema=None), 'dept_emp': Table('dept_emp', MetaData(bind=None), Column('emp_no', INTEGER(), ForeignKey('employees.emp_no'), table=<dept_emp>, nullable=False), Column('dept_no', VARCHAR(length=5), ForeignKey('departments.dept_no'), table=<dept_emp>, nullable=False), Column('from_date', DATE(), table=<dept_emp>), Column('to_date', DATE(), table=<dept_emp>), schema=None)})

In [74]:
for table in table_names:
    print(table)

employees
salaries
titles
departments
dept_manager
dept_emp