# Employee Database Analysis

## Import Data from Postgres SQL Database

In [40]:
#Import Modules
from sqlalchemy import create_engine, inspect, MetaData, Table
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
#Import Database Key
from db_keys import db_key

#Import Employee Data Tables from SQL Database
engine = create_engine('postgresql://' + db_key + '@localhost:5432/employee_data_db')
connection = engine.connect()

In [45]:
inspector = inspect(engine)

table_names = inspector.get_table_names()

table_names

['employees', 'salaries', 'titles', 'departments', 'dept_manager', 'dept_emp']

In [ ]:
for table in table_names